<!DOCTYPE html>
<html>
<head>
  <title>Dianne's Ada Girlfriends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if @user.nil? %>
    <%= button_to "Log In with Github", 'auth/github', method: :get %>
    <% else  %>
      <%= button_to "Log Out #{@user.name}", sessions_path, method: :delete %>
    <% end %>
  </nav>
<%= yield %>

</body>
</html>
